.bgHeader {background-image: linear-gradient(to top, rgb(26, 5, 26), rgb(87, 9, 87));}
.bgFooter {background-image: linear-gradient(to bottom, rgb(87, 9, 87), rgb(26, 5, 26));}
.bgGeneral {background-color: gainsboro;}